@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(51, 51, 51);
    color: #fff;
}

div {
    margin: 0.5rem;
}

ul {
    list-style-type: none;
    list-style-image: none;
}

li {
    margin: 0.5rem;
}

a {
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: 300ms ease-in-out;
}

a:hover {
    margin-left:20px
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: -1rem 0;
    color: #fff;
}

code {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #363636;
    color: rgb(157, 224, 255);
}

button {
    width: fit-content;
    padding: 5px;
    margin-left: 1rem;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

button:hover {
    background-color: #fff;
    color:black;
}

input  {
    margin: .5rem;
}

input[type="range"] {
    -webkit-appearance: none; 
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: .3s ease-in-out;
  }
  
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  #loadingSpinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.megacontainer {
    display: none;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.megacontainer-gradient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5vh auto;
    background-color: transparent;
    border: 3px solid #fff;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.saved {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: transparent;
    border: 3px solid #fff;
    width: 50vw;
    border-radius: 10px;
}

#color {
    font-size: 26px;
    color: #fff;
}

#copy {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 75px;
    height: 75px;
    border: 3px solid #fff;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
}

.close {
    position: relative;
    left: 51px;
    background-color: #fff;
    color: rgb(82, 82, 82);
    border-radius: 10px;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    margin: 0;
    top: -37px;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0;
  }

.close:hover {
    background-color: #F46A4B;
    color: #fff;
}

.copy {
    position: relative;
    left: -18px;
    background-color: #fff;
    color: rgb(82, 82, 82);
    border: 2px solid #fff;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin: 0;
    top: -16px;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0;
}

.controls {
    display: flex;

}

.copy:hover {
    background-color: #08A89E;
    color: #fff;
}

.mobile-menu {
    display: none;
}

/* MOBILE */

@media screen and (max-width: 650px) {

    h1, h2, h3, h4 {
        font-size:large;
    }

    .megacontainer {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container, .saved {
      margin: 0.3rem;
      width: 300px;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background-color: transparent;
        width: 100%;
        position: fixed;
        top: 0;
    }

    .sidebar {
        display: none;
    }
  }